.post_card {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-align: start;
   padding: 1rem;
   border-radius: 10px;
   border: 1px solid grey;
   color: black;
   text-decoration: none;
}
.post_img {
   inline-size: 100%;
}
