.home_bio {
   bottom: 0;
   color: white;
   background-color: var(--dark-bg);
   padding: 1rem;
   width: 100%;
}
.home_paragraph {
   margin-block: 1.5rem;
   align-items: center;
   text-align: center;
   font-weight: 300;
}
