.nav_container {
   position: sticky;
   inset-block-start: 0;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   background-color: white;
   z-index: 3;
}
.nav_container a {
   text-decoration: none;
   font-weight: bold;
}

.inactive {
   color: black;
}

.active {
   color: var(--primary-color);
   border-block-end: solid 4px var(--primary-color);
}
