.home_main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.home_img {
   height: 250px;
   width: 250px;
   object-fit: cover;
   border-radius: 50%;
}
.home_title {
   font-size: 50px;
   margin-block: 1rem;
}
.home_subtitle {
   background: linear-gradient(to right, #43cca3 0%, #1c49e9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 30px;
}
