.card {
   text-align: start;
   margin-block-end: 3rem;
}
.card_img {
   inline-size: 100%;
}
.card_description {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.card_btn {
   font-weight: bold;
   color: var(--primary-color);
}
