.subtitle_paragraph {
  margin-block: 1.5rem;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 375px) {
  .subtitle_paragraph {
    font-weight: 300;
    inline-size: 20rem;
  }
}
