.container {
   text-align: center;
   padding: 2rem 0.5rem;
}

.title {
   font-size: 50px;
   margin-block: 1rem;
}
.gradient {
   background: linear-gradient(to right, #43cca3 0%, #1c49e9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
